* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
}

body {
    overflow-y: scroll;
}

a:link {
    color: black;
    text-decoration: none;
}

a:visited {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* 기본 flex */
.flex {
    display: flex;
    align-items: center;
}

/* 자동 줄바꿈 정렬 */
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}

/* 중앙정렬 */
.c {
    justify-content: center !important;
}

/* 일정간격 */
.sb {
    justify-content: space-between !important;
}

.hidden {
    visibility: hidden;
    height: 0;
}

header {
    width: 75%;
    height: 80px;
    margin: 0 auto;
    color: black;
}

header>div {
    width: 80%;
    height: 100%;
}

header nav {
    width: 20%;
    height: 100%;
}

header nav ul {
    width: 100%;
    height: 100%;
}

header ul>li {
    font-size: 1rem;
    height: 100%;
}

/* 여기까지 공통 css @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.filter_box {
    width: 100%;
    border-top: 1px solid rgba(231, 213, 198);
    border-bottom: 1px solid rgba(231, 213, 198);
    height: 3rem;
    padding-left: 20px;
    box-sizing: border-box;
}

.filter_box>ul {
    width: 100%;
    height: 100%;
}

.filter>li {
    height: 80%;
    margin-right: 0.9rem;
    display: flex;
    align-items: center;
    position: relative;
    border: 1px solid rgba(231, 213, 198);
    font-size: 1rem;
    background: none;
    border-radius: 1.5em;
    /* padding: 0 0.8em; */
}

.filter>li>div:nth-child(2) {
    height: 100%;
}

.filter>li:hover {
    border: 1px solid rgb(231, 160, 102);
    background: rgba(231, 213, 198, 0.3);
}

main {
    width: 100%;
    display: flex;
}

.content_search {
    width: 50%;
    padding: 0rem 1rem 0 1rem;
    box-sizing: border-box;
    overflow-y: scroll;
    height: 800px;
}

/* 높이 딱 맞게 하는 법 모르겠음 */

.content_search::-webkit-scrollbar {
    display: none;
}

.notice {
    width: 100%;
    height: 3rem;
}

.card_box {
    width: 100%;
}

.card {
    width: 100%;
    height: 16rem;
    padding: 1rem 0;
    border-top: 1px solid rgba(231, 213, 198);
}

.card>a {
    height: 100%;
}

.card>a>div:nth-child(2n+1) {
    width: 30%;
    height: 100%;
    border-radius: 10px;
    margin-right: 1rem;

}

.card>a>div:nth-child(2n+2) {
    width: 70%;
    height: 100%;

}

.card>a>div>img {
    width: 100%;
    height: 100%;
    margin-right: 30px;
    border-radius: 10px;

}

.card>a .card_name {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.card>a .card_filter {
    margin-bottom: 1rem;
}

.card>a .card_description {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card>a .card_address {
    margin-bottom: 1rem;
}

.map {
    margin-top: 50px;
    width: 55%;
    box-sizing: border-box;
}


#btn-a,
#btn-b,
#btn-c,
#btn-d,
#btn-e,
#btn-f {
    position: fixed;
    left: -9999px;
}

.flex-right {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.clicked {
    box-sizing: border-box;
    display: none;
    padding: 1em;
    border-radius: 0.5em;
    /* background: rgba(231, 213, 198); */
    background: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 37px !important;
    border: solid 0.5px rgba(118, 118, 118, 0.28);

}

.onclick:checked~.clicked {
    display: block;
    position: absolute;
    top: 3.5em;
}

.labelBtn {
    box-sizing: border-box;
    font-size: 1rem;
    padding: 0 1rem;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 200%;

    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.saveBtn {
    width: 5em;
    height: 2.5em;
    border-radius: 0.5em;
    background: rgba(231, 213, 198);
}

.filter_list>div>label {
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.filter_list>div {
    width: 45%;
    height: 3em;
    font-size: 1rem;
}
.filter_list>div>input[type=checkbox] {
    width: 1.3rem;
    height: 1.3rem;
}
.where {
    width: 30em;
    /* height: 8em;
    padding: 1em 1.3em; */
}

.where>form>div {
    width: 100%;
    height: 50%;

}

.where>form>div>input {
    box-sizing: border-box;
    width: 100%;
    height: 2.5em;
    border: 0.5px solid rgba(231, 213, 198);
    border-radius: 0.5em;
    padding-left: 1em;
    font-size: 1rem;

}
.time {
    width: 300px;
    height: 200px;
}

.beverage {
    width: 20em;
}

.filter_list>div {
    width: 45%;
    height: 3em;
    font-size: 1rem;
}

.mood {
    width: 20em;
}

.cake {
    width: 20em;
}

.more_filter {
    width: 31em;
}
.placeinfo_wrap {
    position: absolute;
    bottom: 28px;
    left: -150px;
    width: 300px;
}

.placeinfo {
    position: relative;
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
    background: #fff;
}

.placeinfo:nth-of-type(n) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}

.placeinfo_wrap .after {
    content: '';
    position: relative;
    margin-left: -12px;
    left: 50%;
    width: 22px;
    height: 12px;
    background: url('http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')
}

.placeinfo a,
.placeinfo a:hover,
.placeinfo a:active {
    color: #fff;
    text-decoration: none;
}

.placeinfo a,
.placeinfo span {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.placeinfo span {
    margin: 5px 5px 0 5px;
    cursor: default;
    font-size: 13px;
}

.placeinfo .title {
    font-weight: bold;
    font-size: 14px;
    border-radius: 6px 6px 0 0;
    margin: -1px -1px 0 -1px;
    padding: 10px;
    color: #fff;
    background: #d95050;
    background: #d95050 url(http://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png) no-repeat right 14px center;
}

.placeinfo .tel {
    color: #0f7833;
}

.placeinfo .jibun {
    color: #999;
    font-size: 11px;
    margin-top: 0;
}