{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="홍영준, 조영완, 서정연">
    <meta name="description" content="나에게 딱 맞는 카페 검색, FFC">
    <meta name="keyword" content="카페, 검색">
    <title>FFC</title>
    {% block css %}
    
    {% endblock %}
</head>
<body>
    <header class="flex sb">
        <div class="flex"><a href="{% url 'home' %}" class="logo">FFC</a></div>
        <nav>
            {% if user.is_authenticated %}
                <ul class="flex sb">
                    <li class="flex">{{ user.last_name }}</li>
                    <li class="flex"><a href="{% url 'logout' %}">로그아웃</a></li>
                    {% if user.profile.ceo %}
                        <li class="flex"><a href="{% url 'write' %}">카페등록</a></li>
                    {% endif %}
                </ul>
            {% else %}
                <ul class="flex sb">
                    <li class="flex"><a href="{% url 'login' %}">로그인</a></li>
                    <li class="flex"><a href="{% url 'signup' %}">회원가입</a></li>
                </ul>
            {% endif %}
        </nav>
    </header>

    {% block content %}

    {% endblock %}
</body>
</html>