<img src="{{ cafes.mainimage.url }}" width = "300" height="300">
<img src="{{ cafes.image1.url }}" width = "300" height="300">
<img src="{{ cafes.image2.url }}" width = "300" height="300">
<img src="{{ cafes.image3.url }}" width = "300" height="300">
<img src="{{ cafes.image4.url }}" width = "300" height="300">

<hr>
{% if request.user.is_active %}
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">후기 작성</button>
</form>
{% else %}
<div class="alert alert-warning">로그인된 사용자만 댓글을 작성할 수 있습니다.</div>
{% endif %}

<hr>
<div id="comment">
    {% for comment in cafes.comments.all %}
    <div class="comment-list">
        <a href="#">{{ comment.writer }}</a>
        <small>{{ comment.created_date }}</small>
        <p>{{comment.score}}점</p>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    {% empty %}
    <div class="comment-list">
        <p>작성된 댓글이 없습니다!</p>
    </div>
    {% endfor %}
</div>

