<h1>main page</h1>

{% if user.is_authenticated %}
    {{user.username}}님
    <a href="{% url 'logout' %}"><button>로그아웃</button></a>
{% else %}
    <a href="{%url 'login'%}"><button>로그인</button></a>
    <a href="{%url 'signup'%}"><button>회원가입</button></a>
{% endif %}

{% for cafe in cafes.all %}
    <div class="container">
        <a href="{%url 'detail' cafe.id %}"><h1>{{ cafe.name }}</h1></a>
        <form action="{%url 'search'%}" method="get">
            <input type="text" name="q" value="{{ q }}">
            <input type="submit" value="검색">
            {{cafe_list}}
        </form>
    </div>
{% endfor %}
<hr>
{% if ceo == True %}
    <a href="{%url 'newcafe'%}">카페등록하기</a>
{% endif %}

