{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock %}

{% block content %}
    <section class="searching_box flex c" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url({% static '1.jpg' %});">
        <h2>나에게 딱 맞는 카페 검색</h2>
        <h1>FindFineCafe</h1>
        <div class="search flex">
            <form method="GET" action="{% url 'search' %}" class="flex sb ">
                <input name="loc_name" type="text" value="" placeholder="지역">
                <input type="text" placeholder="시간">
                <button type="summit">검색</button>
            </form>
        </div>
    </section>
    <main class="container">
        <section class="recommend">
            <h3>공부하기 좋은 카페</h3>
            <ul class="box flex-wrap sb">
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        6인 이상 넓은 테이블
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        잔잔한 음악
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        전좌석 콘센트 완비
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        졸음을 깨워주는 아메리카노
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        집중력을 올려주는 허니브레드 
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        추운 겨울 따뜻한 차 한잔
                    </a>
                </li>  
            </ul>
        </section>
        <section class="recommend">
            <h3>공부하기 좋은 카페</h3>
            <ul class="box flex-wrap sb">
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        6인 이상 넓은 테이블
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        잔잔한 음악
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        전좌석 콘센트 완비
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        졸음을 깨워주는 아메리카노
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        집중력을 올려주는 허니브레드 
                    </a>
                </li>
                <li class="item" style="background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(2.jpg);">
                    <a href="#" >
                        추운 겨울 따뜻한 차 한잔
                    </a>
                </li>  
            </ul>
        </section>
    </main>
    <footer>
        <div class="info">
            <div class="info_row">
                <div class="info_content">
                    <ul>
                        <li>회사소개</li>
                        <li>FFC 채용</li>
                        <li>투자 정보</li>
                        <li>브랜드 가이드라인</li>
                        <li>광고 문의</li>
                    </ul>
                </div>
                <div class="info_content">
                    <ul>
                        <li>공지사항</li>
                        <li>이용약관</li>
                        <li>비회원 이용자 이용정책</li>
                        <li>개인정보처리방침</li>
                        <li>위치기반서비스 이용약관</li>
                        <li>커뮤니티 가이드라인</li>
                        <li>문의하기</li>
                    </ul>
                </div>
                <div class="info_content">
                    <ul>
                        <li>페이스북</li>
                        <li>인스타</li>
                        <li>유튜브</li>
                    </ul>
                </div>
            </div>
            <div class="info_row">
                <div class="info_content">블라블라</div>
                <div class="info_content">어쩌구저쩌구</div>
            </div>
        </div>
    </footer>
{% endblock %}
