{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'search.css' %}">
{% endblock %}
{% block content %}
    <div class="filter_box">
        <ul class="filter flex">
            <li><button>{{loc_search}}</button></li>
            <li><button>5시 ~ 9시</button></li>
            <li><button>음료</button></li>
            <li><button>분위기</button></li>
            <li><button>케이크</button></li>
            <li><button>필터 더보기</button></li>
        </ul>
    </div>
    <main>
        <section class="content_search">
            <h2 class="hidden">검색결과</h2>
            <div class="notice flex">
                <p>{{ cafes|length }}개의 검색결과가 있습니다.</p>
            </div>
            <div class="card_box">
                {% for cafe in cafes%}
                    <article class="card">
                        <h3 class="hidden">카페 정보</h3>
                        <a href="detail.html" class="flex sb">
                            <div><img src="{{ cafe.mainimage.url}}" alt=""></div>
                            <div>
                                <div class="card_name">{{ cafe.name }}</div>
                                <div class="card_filter">아메리카노, 분위기, 딸기케이크, 주차</div>
                                <div class="card_description">딸기케이크가 맛있는 집</div>
                                <div class="card_address">{{ cafe.address }}</div>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </section>
        <section class="map">
            <h2 class="hidden">지도</h2>
            <img src="2.jpg" alt="dd">
        </section>
    </main >
{% endblock %}