{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" href="{% static 'write.css' %}">
{% endblock %}
{% block content %}
    <main class="container">
        <h1>카페 등록하기</h1>
        <section>
            <form method='POST' action="{% url 'write'%}" enctype="multipart/form-data" >
            {% csrf_token %}
            <h2 class="boxing">카페정보</h2>
            <div class="info_box boxing">
                <div class="flex">
                    <div><label for="">카페명</label></div>
                    <div>{{form.name}}</div>
                </div>
                <div class="flex">
                    <div><label for="">주소</label></div>
                    <div>{{form.address}}</div>
                </div>
                <div class="flex">
                    <div><label for="">전화번호</label></div>
                    <div>{{form.phonenumber}}</div>
                </div>
                <div class="flex">
                    <div><label for="">오픈 시간</label></div>
                    <div>{{form.start_time}}</div>
                </div>
                <div class="flex">
                    <div><label for="">마감 시간</label></div>
                    <div>{{form.end_time}}</div>
                </div>
                <div class="flex">
                    <div><label for="">휴일</label></div>
                    <div>{{form.holiday}}</div>
                </div>
                <div class="flex">
                    <div><label for="">상세정보</label></div>
                    <div>{{form.content}}</div>
                </div>
                <div class="flex">
                    <div><label for="">콘센트 정보</label></div>
                    <div >{{form.socket}}</div>
                </div>
                <div class="flex">
                    <div><label for="">대표 이미지</label></div>
                    <div>{{form.mainimage}}</div>
                </div>
                <div class="flex">
                    <div><label for=""></label></div>
                    <div>{{form.image1}}</div>
                </div>
                <div class="flex">
                    <div><label for=""></label></div>
                    <div>{{form.image2}}</div>
                </div>
                <div class="flex">
                    <div><label for=""></label></div>
                    <div>{{form.image3}}</div>
                </div>
                <div class="flex">
                    <div><label for=""></label></div>
                    <div>{{form.image4}}</div>
                </div>
            </div>

        </section>
        <section>
            <h2 class="boxing">메뉴</h2>
            <div class="flex-wrap sb ">
                <article class="checkbox_box boxing ">
                    <legend>커피</legend>
                    <div class="flex-wrap sb">
                        <div><input type="checkbox" id="아메리카노"> <label for="아메리카노">아메리카노</label></div>
                        <div><input type="checkbox" id="에스프레소"> <label for="에스프레소">에스프레소</label></div>
                        <div><input type="checkbox" id="카푸치노"> <label for="카푸치노">카푸치노</label></div>
                        <div><input type="checkbox" id="콜드브루"> <label for="콜드브루">콜드브루</label></div>
                        <div><input type="checkbox" id="콜드브루"> <label for="콜드브루">콜드브루</label></div>
                    </div>
                    
                </article class="checkbox_box boxing ">
                <article class="checkbox_box boxing ">
                    <legend>차</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="그린티"> <label for="그린티">그린티</label></div>
                        <div><input type="checkbox" id="녹차"> <label for="녹차">녹차</label></div>
                        <div><input type="checkbox" id="유자차"> <label for="유자차">유자차</label></div>
                        <div><input type="checkbox" id="율무차"> <label for="율무차">율무차</label></div>
                        <div><input type="checkbox" id="율무차"> <label for="율무차">율무차</label></div>
                        <div><input type="checkbox" id="율무차"> <label for="율무차">율무차</label></div>
                        <div><input type="checkbox" id="율무차"> <label for="율무차">율무차</label></div>
                        <div><input type="checkbox" id="율무차"> <label for="율무차">율무차</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>에이드</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="자몽"> <label for="자몽">자몽</label></div>
                        <div><input type="checkbox" id="레몬"> <label for="레몬">레몬</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>라떼</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="초코"> <label for="초코">초코</label></div>
                        <div><input type="checkbox" id="카페"> <label for="카페">카페</label></div>
                        <div><input type="checkbox" id="녹차"> <label for="녹차">녹차</label></div>
                        <div><input type="checkbox" id="고구마"> <label for="고구마">고구마</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>디저트</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="허니브레드"> <label for="허니브레드">허니브레드</label></div>
                        <div><input type="checkbox" id="와플"> <label for="와플">와플</label></div>
                        <div><input type="checkbox" id="딸기케이크"> <label for="딸기케이크">딸기케이크</label></div>
                        <div><input type="checkbox" id="티라미수"> <label for="티라미수">티라미수</label></div>
                    </div>
                </article>
            </div>
        </section>
        <section>
            <h2 class="boxing">기타</h2>
            <div class="flex-wrap sb">
                <article class="checkbox_box boxing">
                    <legend>주차공간</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="유"> <label for="유">유</label></div>
                        <div><input type="checkbox" id="무"> <label for="무">무</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>테마?</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="노키즈존"> <label for="노키즈존">노키즈존</label></div>
                        <div><input type="checkbox" id="애견카페"> <label for="애견카페">애견카페</label></div>
                        <div><input type="checkbox" id="사주카카페"> <label for="사주카카페">사주카카페</label></div>
                        <div><input type="checkbox" id="드로잉카페"> <label for="드로잉카페">드로잉카페</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>좌석크기(최대)</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="2"> <label for="2">2</label></div>
                        <div><input type="checkbox" id="4"> <label for="4">4</label></div>
                        <div><input type="checkbox" id="6"> <label for="6">6</label></div>
                        <div><input type="checkbox" id="8"> <label for="8">8 이상</label></div>
                    </div>
                </article>
                <article class="checkbox_box boxing">
                    <legend>원두</legend>
                    <div class="flex-wrap">
                        <div><input type="checkbox" id="아라비카"> <label for="아라비카">아라비카</label></div>
                        <div><input type="checkbox" id="로부스터"> <label for="로부스터">로부스터</label></div>
                    </div>
                </article>
            </div>
        </section>
        <input class="btn btn-dark" type="submit" value="등록하기">
        </form>
        </section>
    </main>
{% endblock %}