{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="홍영준, 조영완, 서정연">
    <meta name="description" content="나에게 딱 맞는 카페 검색, FFC">
    <meta name="keyword" content="카페, 검색">
    <title>FFC</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <header class="flex sb">
        <div class="flex"><a href="main.html" class="logo">FFC</a></div>
        <nav>
            <ul class="flex sb">
                <li class="flex"><a href="login.html">로그인</a></li>
                <li class="flex"><a href="signup.html">회원가입</a></li>
            </ul>
        </nav>
    </header>
    <section class="container">
        <h1 class="hidden">로그인</h1>
        <form action="">
            <section>
                <h3>회원종류</h3>
                <select name="" id="">
                    <option value="선택">개인</option>
                    <option value="남성">사업자</option>
                </select>
            </section>
            <section>
                <h3>아이디</h3>
                <div>
                    <input type="text">
                </div>
            </section>
            <section>
                <h3>비밀번호</h3>
                <div>
                    <input type="password">
                </div>
            </section>
            <button type="submit">로그인</button>
        </form>
    </section>
</body>
</html>