<h1>사용자 회원가입</h1>

{% if error %}
{{ error }}
<br>
<br>
{% endif %}


<form method="POST" action="{%url 'signup'%}">
    {% csrf_token %}

    ID:
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <input name="password1" type="password" value="">
    <br>
    Confirm Password:
    <br>
    <input name="password2" type="password" value="">
    <br>
    <input name="ceo" type="checkbox" value="True"> 사장님이신가요?
    <br>
    <input class="btn btn-primary" type="submit" value="Sign Up!">
</form>